@model CourseListVM

<h1>@Model.SelectedCategoryName</h1>
<hr />
@foreach (var item in Model.Courses)
{
    <h2>@item.Title</h2>
    <h3>@item.Category.Name</h3>
    <b>@item.Description</b>
    <hr />

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@item.ImageUrl" alt="@item.Title">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <h6 class="card-subtitle">@item.Category.Name</h6>
            <p class="card-text">@item.Description</p>
            <a asp-controller="Course" asp-action="Details"
               asp-route-id="@item.CourseId" class="btn btn-primary" >
                Course details
            </a>
            <a asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-courseId=@item.CourseId 
               class="btn btn-primary">Add to cart</a>
        </div>
    </div>
}
